MarkupSafe==3.0.2
certifi==2025.8.3
statsmodels==0.14.4
hyperframe==6.1.0
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
requests==2.32.3
soupsieve==2.5
rfc3986-validator==0.1.1
unicodedata2==16.0.0
humanfriendly==10.0
kiwisolver==1.4.7
wget==3.2
yarl==1.22.0
FrEIA==0.2
parso==0.8.4
PyJWT==2.10.1
matplotlib==3.10.1
pybind11-global==3.0.1
sympy==1.14.0
pyparsing==3.2.3
jsonschema==4.23.0
tomli==2.2.1
xgboost==3.0.0
PyYAML==6.0.2
mistune==3.1.3
uhi==0.5.0
terminado==0.18.1
tornado==6.4.2
filelock==3.19.1
jupyterlab==4.4.0
smmap==5.0.2
contourpy==1.3.1
Send2Trash==1.8.3
git-filter-repo==2.47.0
babel==2.17.0
cloudpickle==3.1.1
decorator==5.2.1
ipython_pygments_lexers==1.1.1
packaging==24.2
importlib_metadata==8.6.1
wandb==0.24.2
uvicorn==0.35.0
zstandard==0.23.0
jupyterlab_pygments==0.3.0
traitlets==5.14.3
pandas==2.2.3
hpack==4.1.0
metakernel==0.30.3
pip==25.0.1
protobuf==6.32.0
uri-template==1.3.0
litmodels==0.1.8
argon2-cffi==23.1.0
async-lru==2.0.5
ml_dtypes==0.5.3
jupyter-console==6.6.3
multidict==6.7.1
jupyter-lsp==2.2.5
seaborn==0.13.2
exceptiongroup==1.2.2
awkward_cpp==45
ipywidgets==8.1.6
websocket-client==1.8.0
Jinja2==3.1.6
prometheus_client==0.21.1
frozenlist==1.8.0
notebook==7.4.0
markdown-it-py==4.0.0
lightning-utilities==0.15.2
idna==3.10
coloredlogs==15.0.1
py-cpuinfo==9.0.0
pycparser==2.22
jupyterlab_server==2.27.3
pandocfilters==1.5.0
h5py==3.14.0
portalocker==3.0.0
bleach==6.2.0
torchmetrics==1.8.1
sentry-sdk==2.35.0
awkward==2.8.1
importlib_resources==6.5.2
xrootd==5.8.1
numexpr==2.10.2
starlette==0.48.0
typing-inspection==0.4.1
argon2-cffi-bindings==21.2.0
urllib3==2.4.0
PySide6==6.9.0
slicer==0.0.8
jupyter_client==8.6.3
simple-term-menu==1.6.6
pillow==11.1.0
triton==3.2.0+git576374f8
mt2==1.3.1
mdurl==0.1.2
jedi==0.19.2
jupyterlab_widgets==3.0.14
json5==0.12.0
gmpy2==2.2.1
munkres==1.1.4
nbformat==5.10.4
asttokens==3.0.0
notebook_shim==0.2.4
typing_extensions==4.13.2
xxhash==3.5.0
matplotlib-inline==0.1.7
fsspec==2025.3.2
tables==3.10.2
ipyparallel==9.0.1
jsonpointer==3.0.0
jupyter_core==5.7.2
prompt_toolkit==3.0.51
pybind11==3.0.1
uproot==5.6.0
GitPython==3.1.45
typing_utils==0.1.0
pytorch-lightning==2.4.0
webcolors==24.11.1
zipp==3.21.0
pydantic==2.11.7
python-dateutil==2.9.0.post0
joblib==1.4.2
backoff==2.2.1
executing==2.1.0
mplhep_data==0.0.4
jupyter==1.1.1
arrow==1.3.0
h11==0.14.0
cffi==1.17.1
ptyprocess==0.7.0
pkgutil_resolve_name==1.3.10
pexpect==4.9.0
pydantic_core==2.33.2
aiohappyeyeballs==2.6.1
webencodings==0.5.1
scipy==1.15.2
aiohttp==3.13.3
pyzmq==26.4.0
scikit-learn==1.6.1
setuptools==78.1.0
networkx==3.5
shiboken6==6.9.0
charset-normalizer==3.4.1
patsy==1.0.1
rfc3339_validator==0.1.4
wcwidth==0.2.13
ipython==9.1.0
llvmlite==0.44.0
platformdirs==4.3.7
fqdn==1.5.1
comm==0.2.2
nest_asyncio==1.6.0
fastapi==0.116.2
pure_eval==0.2.3
psutil==7.0.0
numba==0.61.2
httpx==0.28.1
six==1.17.0
tinycss2==1.4.0
docker==7.1.0
isoduration==20.11.0
rich==14.1.0
torch==2.6.0
fonttools==4.57.0
nbconvert==7.16.6
PySocks==1.7.1
Pygments==2.19.1
jsonschema-specifications==2024.10.1
Brotli==1.1.0
ipykernel==6.29.5
anyio==4.9.0
overrides==7.7.0
sniffio==1.3.1
gitdb==4.0.12
pickleshare==0.7.5
onnx==1.14.1
click==8.2.1
nbclient==0.10.2
shap==0.47.1
flatbuffers==25.9.23
pydot==3.0.4
httpcore==1.0.7
cramjam==2.8.4rc3
h2==4.2.0
onnxruntime==1.23.2
attrs==25.3.0
propcache==0.4.1
rpds-py==0.24.0
numpy==2.2.4
mplhep==0.3.59
fastjsonschema==2.21.1
tzdata==2025.2
stack_data==0.6.3
threadpoolctl==3.6.0
optree==0.17.0
colorama==0.4.6
defusedxml==0.7.1
cycler==0.12.1
aiosignal==1.4.0
debugpy==1.8.14
lightning_sdk==2025.9.16
annotated-types==0.7.0
types-python-dateutil==2.9.0.20241206
tqdm==4.67.1
python-json-logger==2.0.7
widgetsnbextension==4.0.14
wheel==0.45.1
pytz==2025.2
referencing==0.36.2
cached-property==1.5.2
jupyter-events==0.12.0
beautifulsoup4==4.13.3
mpmath==1.3.0
packaging==24.2
jaraco.context==5.3.0
inflect==7.3.1
platformdirs==4.2.2
importlib_metadata==8.0.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
typeguard==4.3.0
tomli==2.0.1
typing_extensions==4.12.2
backports.tarfile==1.2.0
jaraco.collections==5.1.0
zipp==3.19.2
more-itertools==10.3.0
wheel==0.45.1
autocommand==2.2.2
